.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.Order {
  text-align: center;
}
.orderForm {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.adminForm {
  min-height: 80vh;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.Admin {
  text-align: center;
}
.Portal {
  padding: 8em;
  align-items: center;
  text-align: center;
}
.NewPizza {
  padding: 4em;
  align-items: center;
  text-align: center;
}
.PostOrder {
  padding: 16em;
  align-items: center;
  text-align: center;
}
.adminCard {
  margin: 2em;
}
.inventoryCard {
  margin: 2em;
}
